<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post">
        First Name<input type="text" name="fname" placeholder="first name" required><br>
        Last Name<input type="text" name="lname" placeholder="last name" required><br>
        email<input type="email" name="email" placeholder="email" required><br>
        password <input type="password" name="passwd" placeholder="password" required><br>
        re password <input type="password" name="repasswd" placeholder="re password" required><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>